#body {
    background-color: palevioletred;
}

#homeBody {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    border-radius: 2rem;
    width: 50rem;
    margin-top: 5rem;
    margin-left: 15rem;
    padding: 2rem;
}

#today {
    color: brown;
    margin: auto;
}

#logoutButton {
    background-color: burlywood;
    border-style: dashed;
    border-radius: 1rem;
    width: 5rem;
    height: 2rem;
    margin: auto;
    margin-top: 1rem;
}